* {
  margin: 0;
  padding: 0;  
}
$roboto:'Roboto';
$cursive_font:'Satisfy';
$round:'Varela Round';
$bg_color:#252827;
$color_light:white;
$secondary_color:#eef2fe;
$cta:#ff013d;
$primery_color:#4298C3;

body{
  background-color:$bg_color;
  width:100%;
  display:block;
  font-family: $round;
}
.container{
  display:block;
  max-width:800px;
  width:90%;
  margin:100px auto;
  h1{
    font-size:32px;
    color:rgba(255,255,255,.8);
    margin-bottom:30px;
    padding-left:150px;
  }
}
.timeline{
  display:block;
  width:100%;
  padding-left:150px;
  box-sizing: border-box;
  position:relative;
  &:before{
    content:"";
    width:3px;
    height:100%;
    background-color:$primery_color;
    position:absolute;
    left:150px;
    top:0;
    z-index: 1;
  }
  .item{
    background-color:rgba(255,255,255,.03);
    color:rgba(255,255,255,.8);
    padding:50px 40px;
    box-sizing: border-box;
    position:relative;
    +.item{
      border-top:1px dashed rgba(255,255,255,.3);
    }
    &:before{
      content:attr(data-time);
      position:absolute;
      left:-100px;
      top:55px;
      text-align:left;
      display:block;
      font-size:16px;
    }
    &:after{
      content:"";
      width:20px;
      height:20px;
      border:4px solid $primery_color;
      position:absolute;
      left:-13px;//20 + 4 / 2
      top:50px;
      border-radius: 100%;
      background-color:$bg_color;
      z-index:2;
    }
    h3{
      font-size:25px;
      margin-bottom:15px;
    }
    p{
      font-size:16px;
      line-height: 1.5;
    }
  }
}